{% extends "base.html" %}
{% load tailwind_filters %}


{% block content %}
<!-- Form Container -->
<div class="container mx-auto px-4 py-10">
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg p-8">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Login</h1>
        
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Category Name -->
            {% comment %} <div class="mb-6">
                <label for="name" class="block text-gray-700 font-medium mb-2">Category Name</label>
                <input type="text" id="name" name="name" placeholder="Enter category name" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400">
            </div>
             {% endcomment %}
            {{form|crispy}}
             <!-- Submit Button -->
            <div class="mb-6">
                <button type="submit" class="w-full bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-400">Create Account</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}